<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Provider detail</h1>
<form th:object="${suppliers}" >
    <input th:type="hidden" name="id" th:field="*{supplierId}"/>
<table>
    <tr>
        <td>Provider name:</td>
        <td th:text="${suppliers.getSupplierName()}"></td>
    </tr>
    <tr>
        <td>Provider Description:</td>
        <td th:text="${suppliers.getSupDescription()}"></td>
    </tr>
    <tr>
        <td>Provider Address:</td>
        <td th:text="${suppliers.getAddress()}"></td>
    </tr>
</table>
</form>
<a href="/suppliers">return home page</a>
</body>
</html>